@{
    
}
<main id="404">
    <!-- Start-Main -->
    <section class="page404">
        <div>
            <h1>Oops! That page can’t be found.</h1>
            <p>It looks like nothing was found at this location. Maybe try a search?</p>
            <button onclick="location.href='@Url.Action("Index", "Home")'">Go to Home</button>
        </div>
    </section>
</main> <!-- End-MAin -->
