
@{
    ViewData["Title"] = "Index";
}

<main id="Wishlist">
    <!-- Start-Main-Wishlist -->
    <section>
        <div class="container">
            <div class="wishlist-all row g-4">
            </div>
        </div>
        <div class="Heart ">
        </div>
    </section>
</main><!-- End--MainWishlist -->

