#Index{
    padding-top: 120px;
    font-family: 'Outfit', sans-serif;
    overflow: hidden;
    #slider{
        position: relative;
        height: 80vb;
        .city-slider{
            height: 80vh;
        }
        .first-slider-text{
            background-image: url(../photos/slider/s3.webp);
            background-repeat: no-repeat;
            background-size: cover;
            height: 80vh;
            .slider-text-position{
               margin: 150px 0px 0px 300px;
                ul{
                    li{
                        p{
                            color: #fff;
                            font-size: 14px;
                        }
                        h2{
                            color: #fff;
                            font-size: 64px;
                        }
                    }
                }
                .slider-nav-header{
                    align-items: center;
                    display: flex;
                    .slider-nav-first{
                        cursor: pointer;
                        margin-left: 30px;
                        padding: 15px 30px;
                        background-color: #fff;
                        position: relative ; 
                        overflow: hidden;
                        z-index: 0;
                       a{
                        color: #000;
                        font-size: 14px;
                        span{
                            i{
                                margin-left: 5px;
                                font-size: 11px;
                            }
                        }
                       }
                       &:hover{
                           border: 1px solid #fff;
                            a{
                                color: #fff;
                            }
                            &::before{
                                transform: scaleY(1);
                                transition: .6s;
                            }
                        }
                        @extend .before
                        
                    }
                    .slider-nav-second{
                        cursor: pointer;
                        position: relative;
                        transition: 0.7s !important;
                        a{
                            margin-left: 50px;
                            color: #fff;
                            font-size: 14px;
                            span{
                                i{
                                    margin-left: 5px;
                                   font-size: 11px;
                                }
                            }
                        }
                        &:hover{
                            transition: 0.7s !important;
                            a{
                                color: #ff6f2e !important; 
                            }
                            &::before{
                                background-color: #ff6f2e !important; 
                            }
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            bottom: -3px;
                            left: 50px;
                            height: 1px;
                            width: 66%;
                            background-color: #fff;
                        }
                    }
                }
            }
        }   
        .second-slider-text{
            height: 80vh;
            .slider-text-position{
                margin: 150px 0px 0px 300px;
                 ul{
                     li{
                         p{
                             color: #fff;
                             font-size: 14px;
                         }
                         h2{
                             color: #fff;
                             font-size: 64px;
                         }
                     }
                 }
                 .slider-nav1{
                    align-items: center;
                    display: flex;
                    .slider-nav-first{
                        cursor: pointer;
                        margin-left: 30px;
                        padding: 12px 40px;
                        background-color: #fff;
                        position: relative ; 
                        overflow: hidden;
                        z-index: 0;
                        background-color: #efa7b4;
                        border: 2px solid #fff;
                       a{
                        color: #000;
                        font-size: 14px;
                        span{
                            i{
                                margin-left: 5px;
                               font-size: 11px;
                            }
                        }
                       }
                       &:hover{
                        border: 2px solid  #ff6f2e;
                        transition: .4s;
                            a{
                                color: #fff;
                            }
                            &::before{
                                transform: scaleY(1);
                                transition: .6s;
                            }
                        }
                        @extend .before;
                    }
                    .slider-nav-second{
                        margin-left: 30px;
                        cursor: pointer;
                        position: relative;
                        padding: 14px 30px;
                        transition: 0.7s !important;
                        background-color: #fff;
                        z-index: 0;
                        a{
                            color: #000;
                            font-size: 14px;
                            span{
                                i{
                                    margin-left: 5px;
                                   font-size: 11px;
                                }
                            }
                        }
                        &:hover{
                            transition: .4s;
                            a{
                                color: #fff;
                            }
                            &::before{
                                transform: scaleY(1);
                                transition: .6s;
                            }
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            transform-origin: bottom left;
                            height: 100%;
                            width: 101%;
                            transition: .6s;
                            background: #ff6f2e;
                            transform: scaleY(0);
                            z-index: -1;
                        }
                    }
                }
             }
        }
        .next{
            cursor: pointer;
            position: absolute;
            color: #fff;
            right: 80px;
            top: 350px;
            padding: 13px 22px;
            background-color: #ffffff1a;
            border-radius: 100%;
            z-index: 1;
        }
        .prev{
            cursor: pointer;
            position: absolute;
            color: #fff;
            left: 80px;
            top: 350px;
            padding: 13px 22px;
            background-color: #ffffff1a;
            border-radius: 100%;
        }
    }
    #Collectoin-category{
        background-image: url('https://ap-lotita.myshopify.com/cdn/shop/files/h1-bg01.png?v=1660116182');
        background-repeat: no-repeat;
        background-position-x: right;
        overflow: hidden;
        .Image-hover{
            overflow: hidden;
            a{
                img{
                    transition: .6s;
                    &:hover{
                        transform: scale(1.1);
                        transition: .6s;
                    }
                }
            }
            .Category-name{
                position: relative;
                align-items: center;
                color: #fff;
                h4{
                    position: absolute;
                    bottom: 20px;
                    left: 30px;
                }
                p{
                    position: absolute;
                    bottom: 10px;
                    right: 40px;
                }
            }
        }
        .text-center{
            a{
                position: relative;
                &:hover{
                    transition: .6s;
                    &::before{
                        width: 100%;
                        transition: .6s;
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    background-color: #000;
                    bottom: -5px;
                    transition: .6s;
                }
            }
        }
    }
    #Shipping-about{
        background-color: #f5f5f5;
        .Shipping{
            padding: 80px 0;
            text-align: center;
            .Shipping-size{
                svg{
                    width: 100%;
                    height: 10vh;
                }
                h5{
                    color: #000;
                    font-weight: 400;
                    font-size: 20px;
                }
                p{
                    font-size: 18px; 
                    color: #666;
                    font-weight: 400;
                }
            }
        }
    }
    #Product{
        padding: 80px 0 60px;
        .Product-tab-menu{
            margin: 24px 0 48px; 
            position: relative;
            button{
                position: relative;
                border: none;
                font-size: 18px;
                background-color: #fff;
                font-weight: 400;
                margin-left: 40px;
                color: #666;
                transition: .5s;
                &:hover{
                    color: #ff6f2e;
                    transition: .5s;
                    &::before{
                        width: 100%;
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 0%;
                    background-color: #ff6f2e;
                    left: 0;
                    bottom: -10px;
                    transition: .6s;
                }
            }
            .Active{
                position: relative;
                color: #ff6f2e;
                &::before{
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    background-color: #ff6f2e;
                    left: 0;
                    bottom: -10px;
                    transition: .6s;
                }
            }
            &::before{
                content: '';
                position: absolute;
                height: 1px;
                width: 19%;
                background-color: #dee2e6;
                left: 41.6%;
                bottom: -10px;
            }
        }
        .Best-sellers, .New-arrivals, .Sale-items{
            padding: 0 380px;
            cursor: pointer;
            .Product-image{
                position: relative;
                z-index: 0;
                &:hover{
                    .Add-cart{
                        opacity: 1;
                        transition: .5s;
                    }
                    .icon{
                        opacity: 1;
                        transition: 1s;
                    }
                    .second-image{
                        opacity: 1;
                        transition: .8s;
                    }
                }
                .acceroies{
                    a{
                        img{
                            transition: .6s;
                            &:hover{
                                transform: scale(1.1);
                                transition: .6s;
                            }
                        }
                    }
                }
                .second-image{
                    position: absolute;
                    overflow: hidden;
                    width: 92%;
                    top: 0;
                    left: 10px;
                    opacity: 0;
                    transition: .5s;
                    a{
                        img{
                            width: 100%;
                            &:hover{
                                transform: scale(1.1);
                                transition: .5s;
                            }
                        }
                    }
                }
                a{
                    img{
                        width: 100%;
                    }
                }               
                .Product-discount{
                    position: absolute;
                    left: 35px;
                    top: 13px;
                    background-color: #fff;
                    padding: 0px 7px;
                   span{
                    font-size: 12px;
                   }
                }
                .Product-sale{
                    position: absolute;
                    left: 75px;
                    top: 13px;
                    background-color: #fff;
                    color: #ff6f2e;
                    padding: 0px 7px;
                   span{
                    font-size: 12px;
                    font-weight: 600;
                   }
                }
                .icon{
                    opacity: 0;
                    transition: .5s;
                    div{
                        span{
                            position: absolute;
                            background-color: #000;
                            font-size: 12px;
                            padding: 1px 3px;
                            border-radius: 5px;
                            color: #fff;
                            opacity: 0;
                        }
                        i{
                            position: absolute;
                            overflow: hidden;
                            background-color: #fff;
                            border-radius: 100%;
                            padding: 13px;
                            font-size: 15px;
                            transition: .6s;
                            z-index: 1;
                            &:hover {
                                transition: .6s;
                                color: #fff;
                                &::after{
                                    transition: .6s;
                                    height: 105%;
                                }
                                +span{
                                    opacity: 1;
                                    transition: .8s;
                                }
                            } 
                            &::after{
                                content: '';
                                position: absolute;
                                background: #ff6f2e;
                                left: 0;
                                bottom: -1px;
                                transform-origin:  bottom;
                                width: 100%;
                                height: 0%;
                                transition: .6s;
                                z-index: -1;
                            }                           
                        }
                    }
                }
                .Add-cart{
                    position: absolute;
                    transition: .5s;
                    opacity: 0;
                    top: 280px;
                    left: 35px;
                    background-color: #fff;
                    color: #000;
                    padding: 10px 70px;
                    z-index: 2;
                    transition: .6s;
                    &:hover{
                        color: #fff;
                        &::before{
                            transform: scaleY(1);
                            transition: .6s;
                        }
                    }
                    span{
                        font-size: 15px;
                    }
                   @extend .before
                }
                .Product-about{
                    display: flex;
                    flex-direction: column;
                    span{
                        margin-top: 5px;
                        i{
                            font-size: 13px;
                        }
                    }
                    ul{
                        padding: 0;
                        display: flex;
                        li{
                            margin-right: 10px;
                            width: 10%;
                            img{
                                width: 90%;
                                padding: 2px;
                                border: 1px dashed black;
                            }
                        }
                    }
                }
            }
            .cart-position{
                position: fixed;
                bottom: 20px;
                left: -200px;
                opacity: 0;
                transition: .6s;
                z-index: 150;
                span{
                    color: #fff;
                    padding: 7px 35px;
                    background-color: green;
                    border-radius: 5px;
                    font-size: 15px;
                    font-weight: bold;
                }
            }
            .cart2-position{
                position: fixed;
                bottom: 20px;
                left: -200px;
                opacity: 0;
                transition: .6s;
                z-index: 150;
                span{
                    color: #fff;
                    padding: 7px 35px;
                    background-color: green;
                    border-radius: 5px;
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
    }
    #Collection{
        .Collection-hot{
            .Collection-hot-first, .Collection-hot-second{
                display: flex;
                .First-collection{
                    width: 50%;
                    height: 110vh;
                    background-color: #fffaf2;
                    position: relative;
                    z-index: 0;
                    .Second-collection-image{
                       position: absolute;
                       top: 130px;
                       left: 200px;
                       z-index: 1;
                    }
                    .First-collection-image{
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 2;
                     }
                     .First-collection-shop-image{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 3;
                     }
                }
            }
            .Collection-shop{
                width: 50%;
                margin-top: 200px;
                .shop{
                    p{
                        color: #666;
                        font-size: 15px;
                    }
                }
                .shop-slider{
                    width: 30%;
                    margin: 20px auto; 
                    .Shop-image{
                        position: relative;
                        z-index: 0;
                        &:hover{
                            .Add-cart{
                                opacity: 1;
                                transition: .5s;
                            }
                            .icon{
                                opacity: 1;
                                transition: 1s;
                            }
                            .second-image{
                                opacity: 1;
                                transition: .8s;
                            }
                        }
                        .acceroies{
                            a{
                                img{
                                    transition: .6s;
                                    &:hover{
                                        transform: scale(1.1);
                                        transition: .6s;
                                    }
                                }
                            }
                        }
                        .second-image{
                            position: absolute;
                            overflow: hidden;
                            width: 92%;
                            top: 0;
                            left: 10px;
                            opacity: 0;
                            transition: .5s;
                            a{
                                img{
                                    width: 100%;
                                    &:hover{
                                        transform: scale(1.1);
                                        transition: .5s;
                                    }
                                }
                            }
                        }
                        a{
                            img{
                                width: 100%;
                            }
                        }               
                        .Product-discount{
                            position: absolute;
                            left: 35px;
                            top: 13px;
                            background-color: #fff;
                            padding: 0px 7px;
                           span{
                            font-size: 12px;
                           }
                        }
                        .Product-sale{
                            position: absolute;
                            left: 75px;
                            top: 13px;
                            background-color: #fff;
                            color: #ff6f2e;
                            padding: 0px 7px;
                           span{
                            font-size: 12px;
                            font-weight: 600;
                           }
                        }
                        .icon{
                            opacity: 0;
                            transition: .5s;
                            div{
                                span{
                                    position: absolute;
                                    background-color: #000;
                                    font-size: 12px;
                                    padding: 1px 3px;
                                    border-radius: 5px;
                                    color: #fff;
                                    opacity: 0;
                                }
                                i{
                                    position: absolute;
                                    overflow: hidden;
                                    background-color: #fff;
                                    border-radius: 100%;
                                    padding: 13px;
                                    font-size: 15px;
                                    transition: .6s;
                                    z-index: 1;
                                    &:hover {
                                        transition: .6s;
                                        color: #fff;
                                        &::after{
                                            transition: .6s;
                                            height: 105%;
                                        }
                                        +span{
                                            opacity: 1;
                                            transition: .8s;
                                        }
                                    } 
                                    &::after{
                                        content: '';
                                        position: absolute;
                                        background: #ff6f2e;
                                        left: 0;
                                        bottom: -1px;
                                        transform-origin:  bottom;
                                        width: 100%;
                                        height: 0%;
                                        transition: .6s;
                                        z-index: -1;
                                    }                           
                                }
                            }
                        }
                        .Add-cart{
                            position: absolute;
                            transition: .5s;
                            opacity: 0;
                            top: 280px;
                            left: 25px;
                            background-color: #fff;
                            color: #000;
                            padding: 10px 70px;
                            z-index: 2;
                            transition: .6s;
                            &:hover{
                                color: #fff;
                                &::before{
                                    transform: scaleY(1);
                                    transition: .6s;
                                }
                            }
                            span{
                                font-size: 15px;
                            }
                            @extend .before;
                        }
                        .Product-about{
                            display: flex;
                            flex-direction: column;
                            span{
                                margin-top: 5px;
                                i{
                                    font-size: 13px;
                                }
                            }
                            ul{
                                padding: 0;
                                display: flex;
                                li{
                                    margin-right: 10px;
                                    width: 10%;
                                    img{
                                        width: 90%;
                                        padding: 2px;
                                        border: 1px dashed black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #Arrival{
        margin: 80px 0;
        text-align: center;
        .Arrival-slider{
            .next{
                position: absolute;
                right: -70px;
                top: 200px;
                cursor: pointer;
                color: black;
                background-color: #fbf7f5;
                padding: 15px 20px;
                border-radius: 100%;
                z-index: 1;
            }
            .prev{
                position: absolute;
                left: -70px;
                top: 200px;
                background-color: #fbf7f5;
                padding: 15px 20px;
                cursor: pointer;
                color: #000 ;
                border-radius: 100%;
            }
           .Arrival-shop{
            margin: auto;
            width: 60%;
            .Product-image{
                margin: 0 10px;
                position: relative;
                z-index: 0;
                &:hover{
                    .Add-cart{
                        opacity: 1;
                        transition: .5s;
                    }
                    .icon{
                        opacity: 1;
                        transition: 1s;
                    }
                    .second-image{
                        opacity: 1;
                        transition: .8s;
                    }
                }
                .acceroies{
                    a{
                        img{
                            transition: .6s;
                            &:hover{
                                transform: scale(1.1);
                                transition: .6s;
                            }
                        }
                    }
                }
                .second-image{
                    position: absolute;
                    overflow: hidden;
                    width: 100%;
                    top: 0;
                    left: 0px;
                    opacity: 0;
                    transition: .5s;
                    a{
                        img{
                            width: 100%;
                            &:hover{
                                transform: scale(1.1);
                                transition: .5s;
                            }
                        }
                    }
                }
                a{
                    img{
                        width: 100%;
                    }
                }               
                .Product-discount{
                    position: absolute;
                    left: 35px;
                    top: 13px;
                    background-color: #fff;
                    padding: 0px 7px;
                   span{
                    font-size: 12px;
                   }
                }
                .Product-sale{
                    position: absolute;
                    left: 75px;
                    top: 13px;
                    background-color: #fff;
                    color: #ff6f2e;
                    padding: 0px 7px;
                   span{
                    font-size: 12px;
                    font-weight: 600;
                   }
                }
                .icon{
                    opacity: 0;
                    transition: .5s;
                    div{
                        span{
                            position: absolute;
                            background-color: #000;
                            font-size: 12px;
                            padding: 1px 3px;
                            border-radius: 5px;
                            color: #fff;
                            opacity: 0;
                        }
                        i{
                            position: absolute;
                            overflow: hidden;
                            background-color: #fff;
                            border-radius: 100%;
                            padding: 13px;
                            font-size: 15px;
                            transition: .6s;
                            z-index: 1;
                            &:hover {
                                transition: .6s;
                                color: #fff;
                                &::after{
                                    transition: .6s;
                                    height: 105%;
                                }
                                +span{
                                    opacity: 1;
                                    transition: .8s;
                                }
                            } 
                            &::after{
                                content: '';
                                position: absolute;
                                background: #ff6f2e;
                                left: 0;
                                bottom: -1px;
                                transform-origin:  bottom;
                                width: 100%;
                                height: 0%;
                                transition: .6s;
                                z-index: -1;
                            }                           
                        }
                    }
                }
                .Add-cart{
                    position: absolute;
                    transition: .5s;
                    opacity: 0;
                    top: 380px;
                    left: 20px;
                    background-color: #fff;
                    color: #000;
                    padding: 10px 0px;
                    width: 90%;
                    z-index: 2;
                    transition: .6s;
                    &:hover{
                        color: #fff;
                        &::before{
                            transform: scaleY(1);
                            transition: .6s;
                        }
                    }
                    span{
                        font-size: 15px;
                    }
                    @extend .before;
                }
                .Product-about{
                    display: flex;
                    flex-direction: column;
                    span{
                        margin-top: 5px;
                        i{
                            font-size: 13px;
                        }
                    }
                    ul{
                        padding: 0;
                        display: flex;
                        li{
                            margin-right: 10px;
                            width: 10%;
                            img{
                                width: 90%;
                                padding: 2px;
                                border: 1px dashed black;
                            }
                        }
                    }
                }
            }
           }
        }
    }
    #Brand{
        padding: 100px 0;
        background-color: #f5f5f5;
        div{
            
            ul{
                display: flex;
                li{
                    margin: auto;
                    a{
                        img{
                            opacity: .3;
                            width: 60%;
                            transition: .4s;
                            &:hover{
                                opacity: 1;
                                transition: .4s;
                            }
                        }
                    }
                }
            }
        }
    }
    #Blog{
        padding: 100px 0;
        p{
            text-align: center;
            font-weight: 400;
            color: #666;
            font-size: 18px;
        }
        h2{
            text-align: center;
            font-weight: 400;
        }
        .Blog-photo{
            overflow: hidden;
            height: 35vh;
            width: 95%;
            img{
                transition: .5s;
                width: 100%;
                &:hover{
                    transform: scale(1.1);
                    transition: .5s;
                }
            }
        }
        .Blog-about{
            margin-top: 10px;
            i{
                margin-right: 5px;
            }
            span{
                cursor: pointer;
                font-weight: 400;
                color: #666;
                font-size: 14px;
                margin-right: 10px;
                transition: .5s;
                &:hover{
                    color: #ff6f2e;
                    transition: .5s;
                }
            }
            h4{
                margin: 10px 0 0;
                width: 80%;
                a{
                    font-size: 24px;
                    font-weight: 400;
                   color: #000; 
                }
            }
            p{
                text-align: start;
                width: 90%;
                color: #282828cc;
                font-size: 16px;
                margin: 20px 0;
            }
            .Detail{
                position: relative;
                background: #000;
                padding: 8px 56px;
                width: 100%;
                z-index: 0;
                span{
                    position: absolute;
                    color: #fff;
                    top: 8px;
                    left: 20px;
                    font-size: 13px;
                    z-index: 2;
                }
                &:hover{
                    &::before{
                        transform: scaleY(1);
                        transition: .5s;
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    left: 0;
                    background-color: #ff6f2e;
                    transform-origin: bottom left;
                    transform: scaleY(0);
                    transition: .5s;
                    z-index: 1;

                }
            }
        }
    }
    #Instagram{
        display: flex;
        width: 100%;
        div{
            position: relative;
            width: calc(100% / 6);
            z-index: 0;
            img{
                width: 100%;
                transition: .5s;
                &:hover{
                    filter: brightness(.6);
                    transition: .5s;
                }
            }
            &:hover{
                i{
                    opacity: 1;
                }
            }
            i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-size: 25px;
                opacity: 0;
                z-index: 2;
            }
        }
    }
}