@{
    Layout = null;
}

<body style="background-color:black;">
    <main id="404" >
        <!-- Start-Main -->
        <section class="page404">
            <div  style="text-align:center;color:white;margin-top:200px; ">
                <h1 style="font-size:50px;">ADMİN ÖZÜVƏ GƏL BU NƏ HƏRƏRKƏTDİ  </h1>
                <h1 style="font-size:50px;">SƏNDƏN GÖZDƏMƏZDİM</h1>
                <img src="https://st3.depositphotos.com/1071110/34061/i/450/depositphotos_340615010-stock-illustration-web-online-page-with-404.jpg" />
            </div>
        </section>
    </main> <!-- End-MAin -->
</body>